* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #6b6b6b;
    border-bottom: 2px solid #000;
    margin: 0 0 20px;
    text-align: center;
    padding: 20px;
}
nav a {
    background-color: #bebebe;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1.4px solid #000;
    color: #000;
}
nav a:first-child{
    margin-right: 10%;
    padding: 6px 50px;
}

body div {
    padding: 1% 10%;
    /* text-align: center; */
}
body button {
    cursor: pointer;
}
#results {
    margin: 18px 0 12px;
    font-weight: bold;
    font-style: italic;
    color: #64646486;
    font-size: 25px;
    border-radius: 6px;
}
span {
    color: red;
}