@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #6b6b6b;
    border-bottom: 2px solid #000;
    margin: 0;
    text-align: center;
    padding: 20px;
}
nav a {
    background-color: #bebebe;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1.4px solid #000;
    color: #000;
}
nav a:first-child{
    margin-right: 10%;
    padding: 6px 50px;
}

main {
    color: rgb(210, 210, 210);
    font-family: 'Quicksand';
    font-size: 10px;
    padding: 20px;
    text-align: center;
    min-height: 90vh;
    background-color: #1c1c1c;
}

#start {
    margin-right: 30px;
}

button {
    cursor: pointer;
}