@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #6b6b6b;
    border-bottom: 2px solid #000;
    margin: 0 0 20px;
    text-align: center;
    padding: 20px;
}
nav a {
    background-color: #bebebe;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1.4px solid #000;
    color: #000;
}
nav a:first-child{
    margin-right: 10%;
    padding: 6px 50px;
}
main {
    text-align: center;
    padding: 10px;
    font-family: 'Quicksand';
}
main h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
main h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 20px 0 5px;
}
main input {
    text-align: center;
    width: 150px;
    padding: 10px 0;
    margin: 20px 0 0;
    font-size: 20px;
}
::placeholder {
    font-size: 15px;
    font-weight: bold;
    font-family: "Quicksand";
}
main button {
    width: 100px;
    padding: 8px;
    background-color: #202020;
    border: 1px solid #000;
    color: #e4e4e4;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
main button:hover {
    background-color: #e4e4e4;
    color: #202020;
}

#refreshMsg {
    display: none;
    margin: 20px 90px 0;
    padding: 4px 0;
    border: 1px solid #000;
    border-radius: 5px;
}
.bold-msg {
    font-weight: bold;
}
.show-random-number{
    color: #303030b1;
    font-weight: 500;
}
.rn-showed {
    color: green;
    font-weight: bold;
    font-size: 20px;
}