@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: #6b6b6b;
    border-bottom: 2px solid #000;
    margin: 0 0 20px;
    text-align: center;
    padding: 20px;
}
nav a {
    background-color: #bebebe;
    padding: 6px 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1.4px solid #000;
    color: #000;
}
nav a:first-child{
    margin-right: 10%;
    padding: 6px 50px;
}
body {
    background-color: #bebebe;
    color: #2d2d2d;
    min-height: 100vh;
    font-family: 'League Spartan'
}

.center {
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock {
    font-size: 12vw;
    background-color: rgb(208, 158, 65);
    padding: 4% 2% 2%;
    margin: 10px 0 0;
    border-radius: 10px;
    border: 1px outset #2d2d2d;
}

#banner {
    color: #2d2d2d;
    font-size: 5vw;
}